.content {
  flex: 1;
  padding: 60px 40px;   /* more top spacing */
  background-color: #f8fafc;
}
.title {
  font-size: 26px;
  margin-bottom: 25px;
  font-weight: 600;
}


.topicList {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.topicCard {
  padding: 12px 18px;
  background-color: white;
  border-radius: 8px;
  text-decoration: none;
  color: #1e293b;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.topicCard:hover {
  background-color: #2563eb;
  color: white;
  transform: translateY(-3px);
}